<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="musique.css">
    <title>Musique</title>
</head>
<body>
    <div class="nav">
        <h1 class="title"> Musique d'Arras </h1>
        <a href="/tpGithub"><img class="exit" src="https://images.freeimages.com/fic/images/icons/2711/free_icons_for_windows8_metro/512/exit.png" alt=""></a>
    </div>
    
    <div class="container-1">
       <img class="msf" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Logo_MSF.png" alt="">
       <h2 class="title2">Le programme du Main Square Festival en 2024</h2>
       <br>
       <div class="liste1">
        <h3>Jeudi 4 juillet 2024</h3>
        <ul>
         <li><p>Placebo</p></li>
         <li><p>Louis Tomlinson</p></li>
         <li><p>Zola</p></li>
         <li><p>Vladimir Cauchemar</p></li>
         <li><p>Bianca Costa</p></li>
         <li><p>...</p></li>
        </ul>
       </div>

       <div class="liste2">
        <h3>Vendredi 5 juillet 2024</h3>
        <ul>
         <li><p>Bring me the Horizon</p></li>
         <li><p>Ninho</p></li>
         <li><p>Armin Van Buuren</p></li>
         <li><p>Josman</p></li>
         <li><p>Landmvrks</p></li>
         <li><p>...</p></li>
        </ul>
       </div>

       <div class="liste3">
        <h3>Samedi 6 juillet 2024</h3>
        <ul>
         <li><p>Sam Smith</p></li>
         <li><p>Justice</p></li>
         <li><p>Deluxe</p></li>
         <li><p>Alonzo</p></li>
         <li><p>Irène Drésel</p></li>
         <li><p>...</p></li>
        </ul>
       </div>

       <div class="liste4">
        <h3>Dimanche 7 juillet 2024</h3>
        <ul>
         <li><p>Lenny Kravitz</p></li>
         <li><p>Avril Lavigne</p></li>
         <li><p>Mosimann</p></li>
         <li><p>Bekar</p></li>
         <li><p>Christone "Kingfish" Ingram</p></li>
         <li><p>...</p></li>
        </ul>
       </div>

    </div>

</body>
</html>