<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sport.css">
    <title>Sport</title>
</head>
<body>
    <div class="nav">
        <h1 class="title"> Sport d'Arras</h1>
        <a href="/tpGithub"><img class="exit" src="https://images.freeimages.com/fic/images/icons/2711/free_icons_for_windows8_metro/512/exit.png" alt=""></a>
    </div>

<div class="container">
    <img class="sport" src="https://sports-arras.fr/app/uploads/2022/06/sporte-toit-bien-29.jpg" alt="">
</div>

    <div class="container-1">
        <h3>Arras Football Section Féminine</h3>
        <ul>
            <li><p>Téléphone : 06 78 98 44 20</p></li>
            <li><p>Email : philippe.verstaen@orange.fr</p></li>
        </ul>
    </div>

    <div class="container-2">
        <h3>Arras Basket Section Féminine</h3>
        <ul>
            <li><p>Téléphone : 03 21 16 12 05</p></li>
            <li><p>Email : basket.arraspaysdartois@orange.fr</p></li>
            <li><p>Site internet : <a href="https://www.facebook.com/Arras-Pays-dArtois-Basket-Officiel-293213060782645">Arras-Pays-dArtois-Basket-Officiel</a> </p></li>
        </ul>
    </div>

    <div class="container-3">
        <h3>Arras Taekwondo Club</h3>
        <ul>
            <li><p>Téléphone : 06 71 70 41 51</p></li>
            <li><p>Email : stephanie.pade@orange.fr</p></li>
        </ul>
    </div>

    <div class="container-4">
        <h3>Dance'Fit</h3>
        <ul>
            <li><p>Téléphone : 06 04 65 85 49</p></li>
            <li><p>Email : gest62@hotmail.fr</p></li>
        </ul>
    </div>

    <div class="container-5">
        <h3>Judo Club de l'Artois</h3>
        <ul>
            <li><p>Téléphone : 06 27 29 64 89</p></li>
            <li><p>Email : judoclubartois@hotmail.fr</p></li>
        </ul>
    </div>
    
</body>
</html>